<!DOCTYPE HTML>
<html>
<head>
  <title>CONGO Customer Page: Like Amazon, but cooler because I wrote it. </title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/frontapp.js"></script>

</head>

<body background="https://images5.alphacoders.com/708/thumb-1920-708231.png" ng-app="product" ng-controller="MainCtrl">

<h1>Shopping Interface</h1>
<h1>Current Products</h1>

<form ng-submit="purchase(product)">

<div ng-repeat="product in products | orderBy: 'title'">
<input type="checkbox" ng-model="product.selected">{{product.title}} - price {{product.price}} <img height="100" width="100" ng-src="{{product.pictureURL}}" alt="I bet only someone like YOUR MOM would
	want to buy THAT!!"><br>
<br></div>
<button type="submit">Submit Purchase(s)</button>

</form>

<h1 style="color: white"><strong>Shopping Cart</strong></h1>
<div ng-repeat="product in temp | orderBy:'title'">
{{product.title}} - price {{product.price}} <img height="100" width="100" ng-src="{{product.pictureURL}}" alt="Man, if only RICH PEOPLE like you would DONATE TO THE POOR or something!">
<br><br></div>

</body>

</html>
